Repository tlabs-xyz/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"

feat(account-control): Add QCMintHelper deployment and test infrastructure
  solidity/.nvmrc
  solidity/deploy/97_5_deploy_qc_mint_helper.ts
  solidity/deploy/99_configure_account_control_system.ts
  solidity/test/account-control/QCMintHelper.comprehensive.test.ts
  solidity/test/integration/account-control/QCMintHelperIntegration.test.ts
Due: solidity-format

fix(deployment): Resolve circular dependencies and test environment issues
  solidity/deploy/00_resolve_reimbursement_pool.ts
  solidity/deploy/00_resolve_wallet_registry.ts
  solidity/deploy/96_deploy_account_control_state.ts
  solidity/deploy/97_5_deploy_qc_mint_helper.ts
  solidity/deploy/97_deploy_reserve_oracle.ts
  solidity/package-lock.json
  solidity/test/integration/account-control/QCMintHelperIntegration.test.ts
  solidity/yarn.lock
Due: solidity-format

refactor: consolidate QCMintHelper functionality into QCMinter
  solidity/contracts/account-control/QCMintHelper.sol
  solidity/contracts/account-control/QCMinter.sol
  solidity/deploy/95_deploy_account_control_unified.ts
  solidity/deploy/97_5_deploy_qc_mint_helper.ts
  solidity/deploy/99_configure_account_control_system.ts
  solidity/test/account-control/QCMintHelper.comprehensive.test.ts
  solidity/test/account-control/QCMintHelper.test.ts
  solidity/test/account-control/QCMinter.test.ts
  solidity/test/integration/account-control/QCMintHelperIntegration.test.ts
Due: solidity-format

only token pool contracts
  solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/interfaces/IPoolV1.sol
  solidity/contracts/cross-chain/ccip/libraries/Pool.sol
Due: solidity-format

only yarn
  cross-chain/bob/package-lock.json
  cross-chain/bob/package.json
Due: root-format

deploy script for burnFrom Mint pool
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/interfaces/IPoolV1.sol
  cross-chain/bob/contracts/libraries/Pool.sol
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/hardhat.config.ts
  cross-chain/bob/package-lock.json
  cross-chain/bob/package.json
  cross-chain/bob/solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/yarn.lock
Due: root-format

fixed yarn.lock
  cross-chain/bob/yarn.lock
Due: root-format

test module BurnFromMintTokenPoolUpgradeable basic
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/test/BurnFromMintTokenPoolUpgradeableTest.sol
  cross-chain/bob/contracts/test/ERC20Mock.sol
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/test/BurnFromMintTokenPoolUpgradeable.test.ts
Due: root-format

formatting
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/interfaces/IPoolV1.sol
  cross-chain/bob/contracts/libraries/Pool.sol
  cross-chain/bob/contracts/test/BurnFromMintTokenPoolUpgradeableTest.sol
  cross-chain/bob/solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
Due: root-format

fix slither warnings
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
Due: root-format

duplicated interface code fixed
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/interfaces/ITypeAndVersion.sol
Due: root-format

format & prettier
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/OptimismMintableUpgradableTBTC.sol
  cross-chain/bob/contracts/canonical/L2TBTC.sol
  cross-chain/bob/contracts/interfaces/IOptimismMintableERC20.sol
  cross-chain/bob/contracts/interfaces/ITypeAndVersion.sol
  cross-chain/bob/contracts/libraries/Pool.sol
Due: root-format

correct router addresses on deployment
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/hardhat.config.ts
Due: root-format

L1 deployer working on Sepolia for LockReleaseTokenPoolUpgradeable, verified with Etherscan aPI
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  cross-chain/bob/hardhat.config.ts
Due: root-format

del contract in wrong folder
  cross-chain/bob/solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
Due: root-format

fix router rerun example deploy mint&burn in bob sepolia
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/hardhat.config.ts
Due: root-format

more tests, new location for CCIP tests
  cross-chain/bob/test/BurnFromMintTokenPoolUpgradeable.test.ts
  solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/interfaces/IOptimismMintableERC20.sol
  solidity/contracts/cross-chain/ccip/interfaces/IPoolV1.sol
  solidity/contracts/cross-chain/ccip/interfaces/ISemver.sol
  solidity/contracts/cross-chain/ccip/interfaces/ITypeAndVersion.sol
  solidity/contracts/cross-chain/ccip/libraries/Pool.sol
  solidity/contracts/test/BurnFromMintTokenPoolUpgradeableInitTest.sol
  solidity/contracts/test/BurnFromMintTokenPoolUpgradeableTest.sol
  solidity/contracts/test/ERC20Mock.sol
  solidity/contracts/test/LockReleaseTokenPoolUpgradeableInitTest.sol
  solidity/contracts/test/LockReleaseTokenPoolUpgradeableTest.sol
  solidity/test/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.test.ts
  solidity/test/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.test.ts
Due: root-format, solidity-format

format and prettier
  solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/interfaces/IPoolV1.sol
  solidity/contracts/test/BurnFromMintTokenPoolUpgradeableInitTest.sol
  solidity/contracts/test/LockReleaseTokenPoolUpgradeableInitTest.sol
  solidity/contracts/test/LockReleaseTokenPoolUpgradeableTest.sol
  solidity/test/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.test.ts
  solidity/test/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.test.ts
Due: solidity-format

ERC20Mock.sol stays also in BOB folder
  cross-chain/bob/contracts/test/ERC20Mock.sol
Due: root-format

checks consistent now
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
Due: root-format

no zero-address router for dry-run
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
Due: root-format

fixed dry run
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
Due: root-format

revert formatting of canonical token
  cross-chain/bob/contracts/canonical/L2TBTC.sol
Due: root-format

more linter
  solidity/test/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.test.ts
  solidity/test/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.test.ts
Due: solidity-format

add mising RMN routers as in lockrelease
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
Due: root-format

add missing remote chain selector for isSupportedChain()
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  solidity/contracts/test/BurnFromMintTokenPoolUpgradeableTest.sol
  solidity/test/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.test.ts
  solidity/test/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.test.ts
Due: root-format, solidity-format

improve format
  solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  solidity/test/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.test.ts
  solidity/test/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.test.ts
Due: solidity-format

improv deploy l1 bob and verification of contracts
  cross-chain/bob/DEPLOYMENT_GUIDE.md
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  cross-chain/bob/scripts/verify-with-delay.ts
Due: root-format

improvements in BOB BurMint pool deployment
  cross-chain/bob/DEPLOYMENT_GUIDE.md
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
Due: root-format

correct sepolia router
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
Due: root-format

add more liquidity interface methods for LockReleaseTokenPoolUpgradeable
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/interfaces/ILiquidityContainer.sol
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/interfaces/ILiquidityContainer.sol
  solidity/contracts/test/LockReleaseTokenPoolUpgradeableTest.sol
  solidity/scripts/check-proxy-vs-impl.ts
  solidity/scripts/verify-deployment.ts
  solidity/test/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.test.ts
Due: root-format, solidity-format

fix: resolve Slither security warnings in LockReleaseTokenPoolUpgradeable
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/slither.config.json
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/interfaces/ILiquidityContainer.sol
  solidity/scripts/check-proxy-vs-impl.ts
  solidity/scripts/verify-deployment.ts
  solidity/test/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.test.ts
Due: root-format, solidity-format

fix: apply CEI pattern and security improvements to CCIP LockReleaseTokenPool
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
Due: solidity-format

fix warnings
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/interfaces/ILiquidityContainer.sol
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
Due: root-format, solidity-format

fix zero-address check
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
Due: root-format, solidity-format
