Repository tlabs-xyz/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"

fix: add zero address validation to setRebalancer function
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
Due: root-format

refactoring with missing functions from official token pool LockRelease only
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/interfaces/ITypeAndVersion.sol
  cross-chain/bob/contracts/test/ERC20Mock.sol
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  cross-chain/bob/package.json
  cross-chain/bob/slither.config.json
  cross-chain/bob/test/LockReleaseTokenPoolUpgradeable.test.ts
  cross-chain/bob/yarn.lock
  solidity/contracts/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.sol
  solidity/contracts/cross-chain/ccip/interfaces/ILiquidityContainer.sol
  solidity/contracts/cross-chain/ccip/interfaces/IOptimismMintableERC20.sol
  solidity/contracts/cross-chain/ccip/interfaces/IPoolV1.sol
  solidity/contracts/cross-chain/ccip/interfaces/ISemver.sol
  solidity/contracts/cross-chain/ccip/interfaces/ITypeAndVersion.sol
  solidity/contracts/cross-chain/ccip/libraries/Pool.sol
  solidity/contracts/test/BurnFromMintTokenPoolUpgradeableInitTest.sol
  solidity/contracts/test/BurnFromMintTokenPoolUpgradeableTest.sol
  solidity/contracts/test/LockReleaseTokenPoolUpgradeableInitTest.sol
  solidity/contracts/test/LockReleaseTokenPoolUpgradeableTest.sol
  solidity/test/cross-chain/ccip/BurnFromMintTokenPoolUpgradeable.test.ts
  solidity/test/cross-chain/ccip/LockReleaseTokenPoolUpgradeable.test.ts
Due: root-format, solidity-format

complete interface of BurnFromMintTokenPoolUpgradeable
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/test/BurnMintERC20Mock.sol
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/test/BurnFromMintTokenPoolUpgradeable.test.ts
Due: root-format

full func ver of BurnFromMintTokenPoolUpgradeable, 0.8.19 compiler needed
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/TokenPoolMutable.sol
  cross-chain/bob/contracts/interfaces/ILiquidityContainer.sol
  cross-chain/bob/contracts/interfaces/IRMN.sol
  cross-chain/bob/contracts/interfaces/IRouter.sol
  cross-chain/bob/contracts/interfaces/ITypeAndVersion.sol
  cross-chain/bob/contracts/libraries/RateLimiter.sol
  cross-chain/bob/contracts/test/BurnMintERC20Mock.sol
  cross-chain/bob/contracts/test/MockRMN.sol
  cross-chain/bob/contracts/test/MockRouter.sol
  cross-chain/bob/hardhat.config.ts
  cross-chain/bob/test/BurnFromMintTokenPoolUpgradeable.test.ts
  cross-chain/bob/test/LockReleaseTokenPoolUpgradeable.test.ts
  cross-chain/bob/test/debug.test.ts
Due: root-format

slither warnings, fix deploy detail
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/scripts/verify-with-delay.ts
Due: root-format

leave package.json no touch
  cross-chain/bob/package.json
Due: root-format

script format bad path
  solidity/scripts/verify-deployment.ts
Due: solidity-format

script format bad path
  cross-chain/bob/package.json
Due: root-format

fixing @chainlink/contracts package dependency on @zksync/contracts is trying to access a private repository
  .github/workflows/cross-chain-bob.yml
  cross-chain/bob/yarn.lock
Due: root-format

moved private dep of @chainlink/contracts to resolutions
  .github/workflows/cross-chain-bob.yml
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/package.json
  cross-chain/bob/yarn.lock
Due: root-format

format of verify-deployment
  solidity/scripts/verify-deployment.ts
Due: solidity-format

remove helper script
  solidity/scripts/verify-deployment.ts
Due: solidity-format

slither
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/TokenPoolMutable.sol
  cross-chain/bob/slither.config.json
Due: root-format

prettier
  cross-chain/bob/contracts/TokenPoolMutable.sol
Due: root-format

remove unicode
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  cross-chain/bob/scripts/verify-with-delay.ts
  solidity/scripts/check-proxy-vs-impl.ts
Due: root-format, solidity-format

formatting
  cross-chain/bob/scripts/deploy-proxy.ts
  cross-chain/bob/scripts/verify-with-delay.ts
Due: root-format

format
  solidity/scripts/check-proxy-vs-impl.ts
Due: solidity-format

refactor: update burnfrom and lockrelease token pools
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/TokenPoolMutable.sol
  cross-chain/bob/contracts/interfaces/IBurnMintERC20Upgradeable.sol
  cross-chain/bob/contracts/interfaces/IPoolV1.sol
  cross-chain/bob/contracts/interfaces/IRMN.sol
  cross-chain/bob/contracts/interfaces/IRouter.sol
  cross-chain/bob/contracts/libraries/Pool.sol
  cross-chain/bob/contracts/libraries/RateLimiter.sol
Due: root-format

chore: revert solidity package modifications
  solidity/contracts/test/ERC20Mock.sol
  solidity/scripts/check-proxy-vs-impl.ts
Due: solidity-format

chore: revert upgradable tbtc modifications
  cross-chain/bob/contracts/OptimismMintableUpgradableTBTC.sol
Due: root-format

refactor: update token pool upgradeable contract
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/TokenPoolUpgradeable.sol
  cross-chain/bob/contracts/interfaces/IBurnMintERC20Upgradeable.sol
  cross-chain/bob/contracts/interfaces/IRMN.sol
  cross-chain/bob/contracts/interfaces/IRouter.sol
  cross-chain/bob/contracts/libraries/Pool.sol
  cross-chain/bob/contracts/libraries/RateLimiter.sol
Due: root-format

chore: update deployment and configuration files
  cross-chain/bob/DEPLOYMENT_GUIDE.md
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  cross-chain/bob/deploy_l1/01_configure_token_pool_chains.ts
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/hardhat.config.ts
  cross-chain/bob/package.json
  cross-chain/bob/scripts/deploy-proxy.ts
  cross-chain/bob/yarn.lock
Due: root-format

refactor: update bob token pools test files
  cross-chain/bob/deploy_l1/00_deploy_lock_release_token_pool.ts
  cross-chain/bob/deploy_l2/03_deploy_burn_from_mint_token_pool.ts
  cross-chain/bob/scripts/deploy-proxy.ts
  cross-chain/bob/scripts/verify-with-delay.ts
  cross-chain/bob/test/BurnFromMintTokenPoolUpgradeable.test.ts
  cross-chain/bob/test/LockReleaseTokenPoolUpgradeable.test.ts
Due: root-format

chore: update bob scripts and deployment scripts
  cross-chain/bob/deploy_l1/01_configure_token_pool_chains.ts
  cross-chain/bob/scripts/verify-with-delay.ts
Due: root-format

chore: bump bob token pools version
  cross-chain/bob/contracts/BurnFromMintTokenPoolUpgradeable.sol
  cross-chain/bob/contracts/LockReleaseTokenPoolUpgradeable.sol
  cross-chain/bob/package.json
  cross-chain/bob/test/BurnFromMintTokenPoolUpgradeable.test.ts
  cross-chain/bob/test/LockReleaseTokenPoolUpgradeable.test.ts
Due: root-format

feat: add configuration scripts for bob token pools
  cross-chain/bob/deploy_l1/01_transfer_token_pool_proxy_admin.ts
  cross-chain/bob/deploy_l1/02_configure_token_pool_chains.ts
  cross-chain/bob/deploy_l2/04_transfer_token_pool_proxy_admin.ts
  cross-chain/bob/deploy_l2/05_configure_token_pool_chains.ts
Due: root-format

chore: remove unused test file
  cross-chain/bob/test/debug.test.ts
Due: root-format

feat: add lock release mainnet deployment files
  cross-chain/bob/deployments/mainnet/LockReleaseTokenPoolUpgradeable.json
  cross-chain/bob/deployments/mainnet/LockReleaseTokenPoolUpgradeable_Implementation.json
  cross-chain/bob/deployments/mainnet/LockReleaseTokenPoolUpgradeable_Proxy.json
Due: root-format

feat: add mainnet artifacts and uncomment interfaces
  typescript/src/lib/arbitrum/artifacts/arbitrumOne/ArbitrumL2BitcoinRedeemer.json
  typescript/src/lib/arbitrum/artifacts/arbitrumOne/WormholeCore.json
  typescript/src/lib/arbitrum/index.ts
  typescript/src/lib/arbitrum/l2-bitcoin-redeemer.ts
  typescript/src/lib/base/artifacts/base/BaseL2BitcoinRedeemer.json
  typescript/src/lib/base/artifacts/base/WormholeCore.json
  typescript/src/lib/base/index.ts
  typescript/src/lib/base/l2-bitcoin-redeemer.ts
  typescript/src/lib/ethereum/artifacts/mainnet/L1BitcoinRedeemer.json
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/l1-bitcoin-redeemer.ts
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/src/services/tbtc.ts
Due: root-format

chore: update redemption related auto generated docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/api-reference/classes/TBTC.md
Due: root-format

fix: resolve critical deployment and testing infrastructure issues
  solidity/deploy/95_deploy_account_control_core.ts
  solidity/deploy/95_deploy_account_control_unified.ts
  solidity/scripts/grant-bank-role.js
  solidity/scripts/run-integration-tests.ts
  solidity/test/integration/DeploymentVariations.test.ts
Due: solidity-format

feat(account-control): Complete V2 specification implementation
  V2_IMPLEMENTATION_SUMMARY.md
  solidity/contracts/account-control/AccountControl.sol
  solidity/contracts/account-control/QCManager.sol
  solidity/contracts/account-control/QCMinter.sol
  solidity/contracts/account-control/QCRedeemer.sol
  solidity/contracts/account-control/ReserveOracle.sol
  solidity/contracts/test/MockBankEnhanced.sol
  solidity/contracts/test/MockBankV2.sol
  solidity/contracts/test/MockSystemState.sol
  solidity/hardhat.config.ts
  solidity/test/account-control/AccountControlEnhancements.test.ts
  solidity/test/account-control/AccountControlFixes.test.ts
  solidity/test/account-control/QCMinter.test.ts
  solidity/test/account-control/V2Integration.test.ts
  solidity/test/account-control/V2IntegrationSimple.test.ts
  solidity/test/mocks/MockQCData.sol
  solidity/test/mocks/MockSystemState.sol
Due: root-format, solidity-format

feat(account-control): implement oracle-driven backing updates
  solidity/contracts/account-control/AccountControl.sol
  solidity/contracts/account-control/ReserveOracle.sol
  solidity/contracts/test/MockReserveOracle.sol
  solidity/test/account-control/AccountControlEnhancements.test.ts
  solidity/test/account-control/AccountControlFixes.test.ts
  solidity/test/account-control/V2Integration.test.ts
  solidity/test/account-control/V2IntegrationSimple.test.ts
Due: solidity-format

refactor: remove redundant V2 integration comments
  solidity/contracts/account-control/QCManager.sol
Due: solidity-format

refactor(qc-manager): remove unnecessary V2 mode flag complexity
  solidity/contracts/account-control/QCManager.sol
Due: solidity-format
