Repository tlabs-xyz/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

feat: Add comprehensive AccountControl ↔ QCManager integration tests
  solidity/test/account-control/QCManagerAccountControlIntegration.test.ts
Due: solidity-format

refactor: Remove unused mock files from test directory
  solidity/test/mocks/MockQCData.sol
  solidity/test/mocks/MockSystemState.sol
Due: solidity-format

feat: Add tBTC decimal conversion convenience functions
  solidity/contracts/account-control/AccountControl.sol
  solidity/contracts/account-control/QCMinter.sol
  solidity/contracts/account-control/QCRedeemer.sol
Due: solidity-format

refactor: eliminate SATOSHI_MULTIPLIER conversion redundancy
  solidity/contracts/account-control/AccountControl.sol
  solidity/contracts/account-control/QCManager.sol
  solidity/contracts/account-control/QCMinter.sol
Due: solidity-format

refactor: remove unused SATOSHI_MULTIPLIER constant from QCRedeemer
  solidity/contracts/account-control/QCRedeemer.sol
Due: solidity-format

refactor: remove misleading comments about reserve responsibilities
  solidity/contracts/account-control/ReserveOracle.sol
Due: solidity-format

refactor: simplify gas optimization comment in _calculateTotalCapsExcluding
  solidity/contracts/account-control/AccountControl.sol
Due: solidity-format

refactor: remove irrelevant totalSupply comment from IBank interface
  solidity/contracts/account-control/AccountControl.sol
Due: solidity-format

fix: address PR review feedback for v2 spec
  docs/BACKING-INTEGRATION.md
  solidity/contracts/account-control/AccountControl.sol
  solidity/test/account-control/AccountControlMintTBTC.test.ts
Due: root-format, solidity-format

docs: clarify backing update architecture and separation of concerns
  docs/BACKING-INTEGRATION.md
  solidity/contracts/account-control/AccountControl.sol
Due: root-format, solidity-format

feat: complete oracle-backing integration between ReserveOracle and AccountControl
  solidity/contracts/account-control/QCManager.sol
  solidity/test/account-control/AccountControlOracleIntegration.test.ts
Due: solidity-format

docs: remove outdated BACKING-INTEGRATION.md
  docs/BACKING-INTEGRATION.md
Due: root-format

fix: update outdated ReserveOracle integration comments in tests
  solidity/test/account-control/AccountControlCore.test.ts
  solidity/test/account-control/AccountControlFeatures.test.ts
  solidity/test/account-control/AccountControlValidation.test.ts
  solidity/test/account-control/AccountControlWorkflows.test.ts
Due: solidity-format

test: add MockReserve integration tests for AccountControl v2
  solidity/contracts/test/MockReserve.sol
  solidity/test/account-control/MockReserveIntegration.test.ts
Due: solidity-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
