Repository tlabs-xyz/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

refactor: update find wallet for redeemer
  typescript/api-reference/classes/RedemptionsService.md
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/services/redemptions.test.ts
Due: root-format

get rid of error codes
  solidity/contracts/account-control/BasicRedemptionPolicy.sol
  solidity/contracts/account-control/ErrorCodes.sol
  solidity/contracts/account-control/QCManager.sol
  solidity/contracts/account-control/QCRedeemer.sol
  solidity/contracts/account-control/QCReserveLedger.sol
  solidity/test/account-control/QCRedeemer.test.ts
Due: solidity-format

update contracts
  solidity/contracts/account-control/BasicMintingPolicy.sol
  solidity/contracts/account-control/BasicRedemptionPolicy.sol
  solidity/contracts/account-control/ProtocolRegistry.sol
  solidity/contracts/account-control/QCData.sol
  solidity/contracts/account-control/QCManager.sol
  solidity/contracts/account-control/QCMinter.sol
  solidity/contracts/account-control/QCRedeemer.sol
  solidity/contracts/account-control/QCReserveLedger.sol
  solidity/contracts/account-control/SPVValidator.sol
  solidity/contracts/account-control/SingleWatchdog.sol
  solidity/contracts/account-control/SystemState.sol
  solidity/deploy/24_transfer_tbtc_ownership.ts
  solidity/test/account-control/BasicMintingPolicy.test.ts
  solidity/test/account-control/BasicRedemptionPolicy.test.ts
  solidity/test/account-control/QCData.test.ts
  solidity/test/account-control/QCManager.test.ts
  solidity/test/account-control/QCMinter.test.ts
  solidity/test/account-control/QCRedeemer.test.ts
  solidity/test/account-control/QCReserveLedger.test.ts
  solidity/test/account-control/SPVValidator.test.ts
  solidity/test/account-control/ServiceLookup.test.ts
  solidity/test/account-control/SingleWatchdog.test.ts
  solidity/test/account-control/SystemState.test.ts
  solidity/test/cross-chain/StarkNetBitcoinDepositor.DepositFunction.test.ts
  solidity/test/cross-chain/StarkNetBitcoinDepositor.Integration.test.ts
  solidity/test/cross-chain/StarkNetBitcoinDepositor.StarkGate.test.ts
Due: solidity-format

chore: update SUI testnet package and state addresses
  typescript/src/lib/sui/MOVE_CONTRACT_VERIFICATION.md
  typescript/src/lib/sui/README.md
Due: root-format

refactor: add wormhole chain ids constant
  typescript/src/lib/arbitrum/l2-bitcoin-redeemer.ts
  typescript/src/lib/base/l2-bitcoin-redeemer.ts
  typescript/src/lib/utils/wormhole.ts
Due: root-format

refactor: update nonce uniqueness logic
  typescript/src/services/redemptions/redemptions-service.ts
Due: root-format

chore: update redemptions service doc
  typescript/api-reference/classes/RedemptionsService.md
Due: root-format

chore: initialize SUI project structure with configuration files and deployment scripts
  cross-chain/sui/.eslintignore
  cross-chain/sui/.eslintrc
  cross-chain/sui/.gitignore
  cross-chain/sui/.mocharc.json
  cross-chain/sui/.npmignore
  cross-chain/sui/.openzeppelin/sepolia.json
  cross-chain/sui/.prettierignore
  cross-chain/sui/.prettierrc.js
  cross-chain/sui/.solhint.json
  cross-chain/sui/.solhintignore
  cross-chain/sui/.tsconfig-eslint.json
  cross-chain/sui/README.adoc
  cross-chain/sui/deploy_helpers/wormhole_chains.ts
  cross-chain/sui/deploy_l1/00_deploy_sui_btc_depositor_wormhole.ts
  cross-chain/sui/deploy_l1/01_transfer_sui_btc_depositor_wormhole_ownership.ts
  cross-chain/sui/deployments/sepolia/.chainId
  cross-chain/sui/deployments/sepolia/SuiBTCDepositorWormhole.json
  cross-chain/sui/external/sepolia/Bridge.json
  cross-chain/sui/external/sepolia/TBTCVault.json
  cross-chain/sui/external/sepolia/TokenBridge.json
  cross-chain/sui/external/sepolia/Wormhole.json
  cross-chain/sui/external/suiTestnet/SuiWormholeGateway.json
  cross-chain/sui/hardhat.config.ts
  cross-chain/sui/package.json
  cross-chain/sui/slither.config.json
  cross-chain/sui/tsconfig.export.json
  cross-chain/sui/tsconfig.json
  cross-chain/sui/yarn.lock
Due: root-format

update role usage
  solidity/contracts/account-control/BasicMintingPolicy.sol
  solidity/contracts/account-control/BasicRedemptionPolicy.sol
  solidity/contracts/account-control/ProtocolRegistry.sol
  solidity/contracts/account-control/QCManager.sol
  solidity/contracts/account-control/QCMinter.sol
  solidity/contracts/account-control/QCRedeemer.sol
  solidity/contracts/account-control/QCReserveLedger.sol
  solidity/contracts/account-control/SPVValidator.sol
  solidity/contracts/account-control/SingleWatchdog.sol
  solidity/contracts/account-control/SystemState.sol
  solidity/test/account-control/AccountControlIntegration.test.ts
  solidity/test/account-control/BasicMintingPolicy.test.ts
  solidity/test/account-control/BasicRedemptionPolicy.test.ts
  solidity/test/account-control/SPVValidator.test.ts
  solidity/test/account-control/ServiceLookup.test.ts
Due: solidity-format

watchdog spv verification
  solidity/contracts/account-control/SingleWatchdog.sol
  solidity/test/account-control/SingleWatchdog.test.ts
Due: solidity-format

feat: enhance mainnet deployment configuration and add new contract addresses
  cross-chain/sui/.openzeppelin/mainnet.json
  cross-chain/sui/deployments/mainnet/.chainId
  cross-chain/sui/deployments/mainnet/SuiBTCDepositorWormhole.json
  cross-chain/sui/external/mainnet/Bridge.json
  cross-chain/sui/external/mainnet/TBTCVault.json
  cross-chain/sui/external/mainnet/TokenBridge.json
  cross-chain/sui/external/mainnet/Wormhole.json
  cross-chain/sui/external/suiMainnet/SuiWormholeGateway.json
  cross-chain/sui/hardhat.config.ts
Due: root-format

feat: add initial deployment files and configuration for L2 tBTC integration
  cross-chain/sui/deploy_l2/.gitattributes
  cross-chain/sui/deploy_l2/.gitignore
  cross-chain/sui/deploy_l2/Move.deploy.toml
  cross-chain/sui/deploy_l2/Move.devnet.toml
  cross-chain/sui/deploy_l2/Move.lock
  cross-chain/sui/deploy_l2/Move.mainnet.toml
  cross-chain/sui/deploy_l2/Move.testnet.toml
  cross-chain/sui/deploy_l2/Move.toml
  cross-chain/sui/deploy_l2/Move.toml.backup
  cross-chain/sui/deploy_l2/README.md
  cross-chain/sui/deploy_l2/deployment_output.txt
  cross-chain/sui/deploy_l2/docs/audit_report.pdf
  cross-chain/sui/deploy_l2/docs/bitcoin_depositor.md
  cross-chain/sui/deploy_l2/docs/devnet-testing-plan.md
  cross-chain/sui/deploy_l2/docs/gateway.md
  cross-chain/sui/deploy_l2/docs/mintercap-fix-deployment-guide.md
  cross-chain/sui/deploy_l2/docs/tbtc.md
  cross-chain/sui/deploy_l2/mainnet_deployment.json
  cross-chain/sui/deploy_l2/package-lock.json
  cross-chain/sui/deploy_l2/package.json
  cross-chain/sui/deploy_l2/scripts/initialize_gateway_mainnet.ts
  cross-chain/sui/deploy_l2/scripts/initialize_gateway_v2_ptb.ts
  cross-chain/sui/deploy_l2/scripts/load-config.js
  cross-chain/sui/deploy_l2/scripts/public-config-mainnet.json
  cross-chain/sui/deploy_l2/scripts/public-config.json
  cross-chain/sui/deploy_l2/scripts/set_env.sh
  cross-chain/sui/deploy_l2/scripts/sui-package-setup/check-trusted-emitters.js
  cross-chain/sui/deploy_l2/scripts/sui-package-setup/remove-gateway-trusted-emitter.js
  cross-chain/sui/deploy_l2/scripts/sui-package-setup/set-bitcoindepositor-trusted-emitter.js
  cross-chain/sui/deploy_l2/scripts/sui-package-setup/set-gateway-trusted-emitter.js
  cross-chain/sui/deploy_l2/scripts/sui-package-setup/set-gateway-trusted-receiver.js
  cross-chain/sui/deploy_l2/sources/bitcoin_depositor/bitcoin_depositor.move
  cross-chain/sui/deploy_l2/sources/gateway/helpers.move
  cross-chain/sui/deploy_l2/sources/gateway/wormhole_gateway.move
  cross-chain/sui/deploy_l2/sources/token/tbtc.move
  cross-chain/sui/deploy_l2/tests/bitcoin_depositor_tests.move
  cross-chain/sui/deploy_l2/tests/gateway_tests.move
  cross-chain/sui/deploy_l2/tests/mintercap_fix_tests.move
  cross-chain/sui/deploy_l2/tests/tbtc_tests.move
  cross-chain/sui/deploy_l2/tests/utils.move
Due: root-format

chore: update .gitignore and add example environment configuration for L2 deployment
  cross-chain/sui/.gitignore
  cross-chain/sui/deploy_l2/.env.example
Due: root-format

feat: update mainnet configuration for SUI tBTC integration
  typescript/src/lib/sui/mainnet-config.ts
Due: root-format

refactor: update mainnet test case for SUI module
  typescript/test/lib/sui/index.test.ts
Due: root-format

Update Ethereum API references and add SuiBTCDepositorWormhole artifacts
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/src/lib/ethereum/artifacts/mainnet/SuiBTCDepositorWormhole.json
  typescript/src/lib/ethereum/artifacts/sepolia/SuiBTCDepositorWormhole.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/sui/bitcoin-depositor.ts
Due: root-format

chore: bump version to 2.8.0-dev in package.json
  typescript/package.json
Due: root-format

chore: update types docs and dependencies locked versions
  typescript/api-reference/README.md
  typescript/api-reference/classes/ArbitrumTBTCToken.md
  typescript/api-reference/classes/BaseBitcoinDepositor.md
  typescript/api-reference/classes/BaseTBTCToken.md
  typescript/api-reference/classes/CrossChainDepositor.md
  typescript/api-reference/classes/CrossChainExtraDataEncoder.md
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/classes/EthereumExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/enums/Chains.Solana.md
  typescript/api-reference/enums/Chains.StarkNet.md
  typescript/api-reference/enums/Chains.Sui.md
  typescript/api-reference/enums/DepositState.md
  typescript/api-reference/interfaces/BitcoinDepositor.md
  typescript/api-reference/interfaces/CrossChainContractsLoader.md
  typescript/api-reference/interfaces/DepositorProxy.md
  typescript/api-reference/interfaces/DestinationChainTBTCToken.md
  typescript/api-reference/interfaces/ExtraDataEncoder.md
  typescript/api-reference/interfaces/L1BitcoinRedeemer.md
  typescript/api-reference/modules/Chains.md
  typescript/src/lib/base/l2-bitcoin-depositor.ts
  typescript/src/lib/ethereum/l1-bitcoin-redeemer.ts
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/services/tbtc.ts
  typescript/test/integration/starknet-single-param-flow.test.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/lib/starknet/provider-integration.test.ts
  typescript/test/services/deposits.test.ts
  typescript/test/services/tbtc-refactored-init.test.ts
  typescript/test/services/tbtc-single-param.test.ts
  typescript/test/services/tbtc-t003-l2signer.test.ts
  typescript/test/utils/mock-cross-chain-contracts-loader.ts
  typescript/yarn.lock
Due: root-format

chore: solana format fix
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/classes/TBTC.md
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/services/tbtc.ts
  typescript/test/lib/starknet/provider-integration.test.ts
  typescript/test/services/tbtc-refactored-init.test.ts
Due: root-format

continue implementing spv
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/project.yml
  cross-chain/starknet/yarn.lock
  solidity/contracts/account-control/BasicMintingPolicy.sol
  solidity/contracts/account-control/BitcoinAddressUtils.sol
  solidity/contracts/account-control/QCRedeemer.sol
  solidity/contracts/account-control/QCReserveLedger.sol
  solidity/contracts/account-control/SPVValidator.sol
  solidity/contracts/account-control/SingleWatchdog.sol
  solidity/contracts/test/EcdsaLibStub.sol
  solidity/contracts/test/TestBitcoinAddressUtils.sol
  solidity/test/account-control/BitcoinAddressUtils.test.ts
  solidity/test/account-control/SPVValidator.test.ts
  solidity/test/bridge/EcdsaLib.test.ts
Due: root-format, solidity-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
